<ion-view view-title="Badego">
  
  <!-- SEARCH POST-->
  <section class="search-post" ng-controller="SearchCtrl" ng-show="SearchBox">
    <div class="input-search">
      <input type="text" name="" ng-model="term" ng-keyup="search(term)" placeholder="search">
    </div>
    <div class="search-post-item" ng-repeat="item in SearchPostItem">
      <a ui-sref="post({postId: item.id})">
          <span>{{item.title}}</span>
          <div ng-bind-html="item.content | GetImagePost: 650 "class="search-post-prev"></div>
      </a>
  </section>
  <!--END SEARCH POST-->
  
  <ion-content class="padding">
     <ion-refresher on-refresh="doRefresh()">                 
    </ion-refresher>
    <section ng-repeat="post in PostPreview" class="content-PostPreview">
      <div>
        <a ui-sref="post({postId: post.id})">
          <div ng-repeat="ImageFeatured in post.images">
            <img src="{{ImageFeatured.url}}">
          </div>
            <h2>{{post.title}}</h2>
          
        </a>
      </div>
    </section>  
  </ion-content>
</ion-view>
